.OIGstyle {
  font-style: italic;
  font-weight: normal;
  font-family: fantasy;
}

.WELstyle {
  font-style: normal;
  font-family: fantasy;
  font-weight: bold;
}

.MGRstyle {
  font-size: 24px;
  font-family: cursive;
  font-weight: lighter;
}

.TLNstyle {
  color: red;
  font-size: 36px;
  font-weight: bolder;
}
